[core]
  editor = vim -u "~/.vimrc_min" # use minimal vimrc
  autocrlf = input
[user]
  name = Wilson Y. Wong
  email = Wilson.Young.Wong@gmail.com
[alias]
  br = branch
  co = checkout
  st = status
  lg = log --graph --decorate
  unstage = reset HEAD
[merge]
  tool = vimdiff
[color]
  ui = true
[include]
  path = ~/.gitconfig.local
